/* ./src/styles/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'pricedow';
    src: url('../assets/fonts/pricedow.ttf')
}

body {
    font-family: pricedow;
}